/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* General styles */
body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #2d2d2d;
    color: #fff;
}

html {
    font-size: 16px;
}

/* ::-webkit-scrollbar {
    width: 10px;
} */

header {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #333;
    padding: 1.5rem;
    transition: 0.7s ease-in-out;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    padding: 0 1rem;
}

nav ul #dropdown {
    position: relative;
}

nav ul #dropdown .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -500%;
    left: -48%;
    width: 200%;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    transition: .3s all ease-in-out;
}

#dropdown .dropdown-menu .dropdown-item {
    text-align: center;
    padding: 5px 0;
}

/* #dropdown .dropdown-menu .dropdown-item:first-child {
    border-bottom: 1px solid white;
} */

nav ul #dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    bottom: -600%;
}

nav ul #dropdown .dropdown-menu::after {
    position: absolute;
    content: "";
    display: block;
    background-color: black;
    top: -5%;
    left: 45%;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
}

.container nav ul li.instead-item {
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: #00d9a5;
}

section:not(#home) {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.active {
    color: #00d9a5;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
}

header .container nav {
    transition: 0.4s all;
}

header .container nav.active {
    /* display: block; */
    visibility: visible;
    height: 355%;
    opacity: 1;
}

@media screen and (max-width: 1199.98px) {
    header .container {
        width: 75%;
    }

    header h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1023.99px) {
    header {
        padding: 1.2rem;
    }

    header h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 991.98px) {
    header .container {
        width: 85%;
    }

    header h1 {
        font-size: 1.6rem;
    }

    header nav ul li {
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 767.98px) {
    header {
        /* position: absolute; */
        z-index: 1;
        padding: 1rem;
    }

    header .container nav {
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;

    }

    nav ul #dropdown {
        display: none;
    }

    header .container nav ul {
        display: block;
    }

    header .container nav ul li {
        text-align: center;
        margin: 20px 0;
    }

    .container nav ul li.instead-item {
        display: block;
    }

    header .container .menu-toggle {
        display: block;
    }

    header .container {
        width: 85%;
    }

    header h1 {
        font-size: 1.3rem;
    }

    header nav ul li {
        margin: 0 0.8rem;
    }
}

@media screen and (max-width: 575.95px) {
    header {
        padding: 0.6rem;
    }

    header h1 {
        font-size: 1rem;
    }

    header .menu-toggle {
        font-size: 1.3rem;
    }

    header .container {
        width: 90%;
    }

    header nav ul li {
        margin: 0 0.5rem;
    }

    header nav ul {
        justify-content: flex-start;
    }
}




/* HOME */
.about-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-avt {
    width: 40%;
    height: 100%;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-details {
    height: 100%;
    width: 60%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.about-details h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.role {
    color: #00d9a5;
    font-weight: bold;
    line-height: 1.5;
}

.description {
    margin: 0.5rem 0;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 0.8rem 1.5rem;
    border-radius: 999px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(138, 138, 138);
    color: rgb(255, 255, 255);
    height: 45px;
    text-decoration: none;
    background-color: transparent;
}

@media screen and (max-width: 1199.98px) {
    .about-details h2 {
        font-size: 2.2rem;
        margin-bottom: 5px;
    }

    .role {
        line-height: 1.3;
    }

    .description {
        margin: 0.4rem 0;
        line-height: 1.4;
    }

    .btn {
        font-size: 14px;
        padding: 0.8rem 1.5rem;
        height: 45px;
    }
}

@media screen and (max-width: 991.98px) {
    .about-details h2 {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    .description {
        margin: 0.2rem 0;
        line-height: 1.4;
    }

    .btn {
        font-size: 12px;
        padding: 0.5rem 1rem;
        height: 30px;
    }
}

@media screen and (max-width: 767.98px) {
    #home .about-container {
        position: relative;
        display: block;
    }

    #home .about-container .about-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 6rem 6rem 6rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #home .about-container .about-avt {
        width: 100%;
    }

    .about-details h2 {
        font-size: 3rem;
        white-space: nowrap;
    }

    .role {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .description {
        font-size: 1.2rem;
        margin: 0.4rem 0;
        line-height: 1.5;
    }

    .btn {
        font-size: 16px;
        padding: 0.8rem 1.4rem;
        height: 45px;
    }
}

@media screen and (max-width: 650px) {
    #home .about-container .about-details {
        padding: 0 2rem 2rem 2rem;
    }

    .about-details h2 {
        font-size: 2.5rem;
    }

    .role {
        font-size: 1.2rem;
        line-height: 1.3;
    }

    .description {
        font-size: 1.1rem;
        margin: 0.3rem 0;
        line-height: 1.4;
    }

    .btn {
        font-size: 16px;
        padding: 0.8rem 1.4rem;
        height: 45px;
    }
}

@media screen and (max-width: 575.95px) {
    #home .about-container .about-details {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .about-details h2 {
        font-size: 2rem;
    }

    .role {
        font-size: 1rem;
        line-height: 1.2;
    }

    .description {
        font-size: 0.85rem;
        margin: 0.2rem 0;
        line-height: 1.3;
    }

    .btn {
        font-size: 14px;
        padding: 0.5rem 1rem;
        height: 35px;
    }
}

/* info */
#infor h4 {
    color: #34e89e;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.infor-story {
    display: flex;
    justify-content: space-between;
}

#infor .infor-story>div {
    width: 47%;
    margin: 10px 0;
}

#infor p {
    width: 100%;
    line-height: 1.6;
    color: #ccc;
}

#infor p>span {
    color: white;
}

#infor .story-detail {
    margin: 15px 0;
}

#infor p {
    margin: 5px 0;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}

.info-item {
    font-size: 1rem;
    line-height: 1.8;
}

.info-item span {
    font-weight: bold;
    color: #34e89e;
}

#infor a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#infor a:hover {
    color: #34d9e8;
    text-decoration: underline;
}

@media screen and (max-width: 1199.98px) {

    section:not(#home) {
        width: 90%;
        padding: 50px 0;
    }

    h1 {
        font-size: 2.8rem;
        margin-bottom: 10px;
    }

    #infor h4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    #infor .infor-story>div {
        width: 47%;
        margin: 10px 0;
    }

    #infor p {
        width: 100%;
        line-height: 1.6;
    }

    #infor .story-detail {
        margin: 15px 0;
    }

    #infor p {
        margin: 5px 0;
    }

    .info-grid {
        gap: 10px;
        margin-top: 20px;
        text-align: left;
    }

    .info-item {
        font-size: 1rem;
        line-height: 1.8;
    }
}

@media screen and (max-width: 1023.99px) {
    section#infor {
        padding: 30px 0;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 13px;
    }

    #infor h4 {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    #infor .infor-story>div {
        width: 47%;
        margin: 0px 0;
    }

    #infor p {
        width: 100%;
        line-height: 1.5;
    }

    #infor .story-detail {
        margin: 5px 0;
    }

    #infor p {
        margin: 5px 0;
    }

    .info-grid {
        gap: 5px;
        margin-top: 10px;
        text-align: left;
    }

    .info-item {
        font-size: 1rem;
        line-height: 1.5;
    }
}


@media screen and (max-width: 991.98px) {
    section:not(#home) {
        width: 90%;
        padding: 50px 0;
    }

    h1 {
        font-size: 2.0rem;
        margin-bottom: 13px;
    }

    #infor h4 {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    #infor .infor-story>div {
        width: 47%;
        margin: 0px 0;
    }

    #infor p {
        width: 100%;
        line-height: 1.6;
    }

    #infor .story-detail {
        margin: 5px 0;
    }

    #infor p {
        margin: 2px 0;
    }

    .info-grid {
        gap: 10px;
        margin-top: 10px;
        text-align: left;
    }

    .info-item {
        font-size: 1rem;
        line-height: 1.8;
    }
}

@media screen and (max-width: 767.98px) {
    section:not(#home) {
        width: 90%;
        padding: 40px 0;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    #infor h4 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    #infor .infor-story>div {
        width: 47%;
        margin: 5px 0;
    }

    #infor p {
        width: 100%;
        line-height: 1.6;
    }

    #infor .story-detail {
        margin: 5px 0;
    }

    #infor p {
        margin: 5px 0;
    }

    .info-grid {
        gap: 10px;
        margin-top: 15px;
    }

    .info-item {
        font-size: 1rem;
        line-height: 1.6;
    }
}

@media screen and (max-width: 680px) {
    #infor .story-detail>p:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 575.95px) {
    .infor-story {
        display: block;
    }

    .story-detail {
        display: none;
    }

    #infor .infor-story>div {
        width: 100%;
    }

    h1 {
        font-size: 1.4rem;
        margin-bottom: 7px;
    }

    #infor h4 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    #infor p {
        width: 100%;
        line-height: 1.4;
    }

    #infor p {
        margin: 5px 0;
    }

    .info-grid {
        display: block;
    }

    .info-item {
        width: 100%;
        font-size: 1rem;
        line-height: 1.8;
    }
}

/* --PROJECT-- */
.project__content .project-infor {
    color: #00d9a5;
}

.project__content .project-infor>* {
    margin-bottom: 5px;
}

.project-infor span,
p {
    color: white;
    margin-left: 5px;
    font-weight: 400;
    line-height: 1.4;
}

.project-infor a:hover span {
    color: #00d9a5;
    text-decoration: underline;
}

.project-infor a {
    text-decoration: none;
}

.project__content .project-img {
    display: flex;
}

.project__content .project-img img {
    width: 50%;
}


/* Certificate */
section#certificate {
    padding: 50px 0;
}

.certifi__content {
    display: flex;
}

.certifi__content .certifi-infor {
    width: 68%;
}

.certifi-infor {
    color: #00d9a5;
    padding-right: 15px;
}

.certifi-infor>* {
    margin-bottom: 7px;
}

.certifi-infor hr {
    margin: 15px 0;
}

.certifi-infor span {
    color: white;
    margin-left: 5px;
    font-weight: 500;
}

.certifi-infor a {
    text-decoration: none;
}

.certifi-infor p {
    margin-top: 20px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 22px;
}

.certifi-infor a:hover span {
    color: #00d9a5;
    text-decoration: underline;
}

.certifi__content .certifi-img {
    width: 32%;
}

.certifi-img img {
    width: 100%;
}


@media screen and (max-width: 1199.98px) {}

@media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {
    .certifi__content .certifi-infor {
        width: 55%;
    }

    .certifi__content .certifi-img {
        width: 45%;
    }

    .certifi-infor>* {
        margin-bottom: 7px;
    }

    .certifi-infor h3 {
        font-size: 1rem;
    }

    .certifi-infor h4 {
        font-size: 1rem;
        line-height: 1.4;
    }

    .certifi-infor hr {
        margin: 10px 0;
    }

    .certifi-infor span {
        margin-left: 5px;
    }

    .certifi-infor p {
        margin-top: 20px;
        color: #ccc;
        letter-spacing: 1px;
        line-height: 22px;
    }
}

@media screen and (max-width: 630px) {
    section#certificate {
        padding: 40px 0;
    }

    .certifi__content .certifi-infor {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .certifi-infor>p {
        display: none;
    }

    #certificate .certifi__content {
        display: block;
    }

    .certifi__content .certifi-infor {
        width: 100%;
    }

    .certifi__content .certifi-img {
        width: 100%;
        text-align: center;
    }

    .certifi__content .certifi-img img {
        width: 90%;
    }


}

@media screen and (max-width: 575.95px) {
    .certifi__content .certifi-img img {
        width: 80%;
    }
}

/* TARGET */

.target__content {
    display: flex;
    justify-content: space-between;
}

.target__content .target-infor {
    width: 55%;
}

.target-infor {
    color: #00d9a5;
    padding-right: 15px;
}

.target-infor>* {
    margin-bottom: 7px;
}

.target-infor hr {
    margin: 15px 0;
}

.target-infor span {
    color: white;
    margin-left: 5px;
    font-weight: 500;
}

.target-infor a {
    text-decoration: none;
}

.target-infor p {
    margin-top: 20px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 22px;
}

.target-infor ul {
    padding-left: 20px;
}

.target-infor ul li {
    margin-bottom: 5px;
}

.target-infor a:hover span {
    color: #00d9a5;
    text-decoration: underline;
}

.target__content .target-img {
    width: 32%;
}

.target-img img {
    width: 100%;
}


@media screen and (max-width: 1199.98px) {}

@media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {
    #target .target__content {
        display: block;
    }

    .target__content .target-infor {
        width: 100%;
    }

    .target__content .target-img {
        width: 100%;
    }

    .target__content .target-infor>p {
        display: none;
    }
}

@media screen and (max-width: 575.95px) {}